.login-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40vh;
  width: 40vh;
}

.login-form {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 15px;
  border-radius: 15px;
}

.session-form hr {
  width: 100%;
  border: .5px solid lightgrey;
}

.session-form h1, .session-form h2 {
  font-size: 1.5rem;
  margin: 0;
}

.session-form input {
  width: 250px;
  height: 30px;
  padding: 5px;
}

.session-form button {
  width: 70%;
}


