.bench-show-page {
  width: 100vw;
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  padding-top: 50px;
  border-radius: 18px;
  height: 80%;
  width: 45%;
  margin-right: 10px;
  margin-left: 0;
}

.bench-show-page .details {
  border: 1px solid black;
  border-radius: 18px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 4%;
  height: 85%;
  width: 45%;
  margin-left: 10px;
}

.bench-show-page h2 {
  font-size: 2rem;
  margin-top: 10%;
}

.review {
  border: 1px solid aquamarine;
  width: 20%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-review {
  background-color: red;
}