.bench-show-page {
  width: 100vw;
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-show {
  padding-top: 50px;
  border-radius: 18px;
  height: 80%;
  width: 45%;
  margin-right: 8px;
  margin-left: 0;
}

.bench-show-page .details {
  border: 1px solid black;
  border-radius: 18px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3%;
  height: 85%;
  width: 45%;
  margin-left: 10px;
  padding: 1%;
}

.bench-show-page .details img {
  height: 30%;
}

.bench-show-page h1, .bench-show-page h2 {
  font-size: 2rem;
  margin-bottom: 3%;
}

.bench-show-page h3 {
  margin-bottom: 10%;
}

.reviews-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 40%;
}

.review {
  border: 1px solid aquamarine;
  width: 20%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-review {
  background-color: red;
  width: 70%;
}