.bench-index-page {
  height: 93vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
}

.map-index {
  padding-top: 50px;
  border-radius: 18px;
  height: 80%;
  width: 50%;
  margin-left: 5%;
}

.bench-list-container {
  margin-right: 5%;
  height: 80%;
  width: 50%;
  overflow-y: auto;
}

.bench-list {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.bench-list-item {
  cursor: pointer;
  border: 1px solid black;
  min-height: 150px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
}

