@import './reset.css';

html, body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* @font-face {
  font-family: 'Montserrat';
  src: url('https: //fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap') format('opentype');
} */

.errors {
  color: red;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.7rem;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  align-self: center;
  background-color: #ff385c;
  color: white;
  padding: 10px;
}

.fake-link {
  text-decoration: underline;
  cursor: pointer;
}