.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .3% 5%;
  height: 7vh;
  box-sizing: border-box;
}

.logo {
  color: #ff385c;
  font-size: 2.5rem;
}

.nav button {
  padding: none;
}

/* .nav hr {
  width: 100%;
  border: .5px solid lightgrey;
} */

.profile-button {
  color: #ff385c;
  font-size: 24px;
  background-color: transparent;
  position: relative;
}

.profile-dropdown {
  background-color: #ff385c;
  position: absolute;
  top: 5%;
  right: 42.6%;
  padding: 10px;
  border-radius: 10px;
  z-index: 1;
}

.profile-dropdown li {
  margin-bottom: 5px;
}