.nav {
  display: flex;
  align-items: center;
  padding: .3% 5%;
  height: 7vh;
  justify-content: space-between;
  box-sizing: border-box;
}

.nav svg {
  fill: #ff385c;
  height: 35px;
  width: 35px;
  margin-right: 2px;
}

.logo {
  color: #ff385c;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}

.nav button {
  padding: none;
}

/* .nav hr {
  width: 100%;
  border: .5px solid lightgrey;
} */

.profile-button {
  background-color: white;
  position: relative;
  height: 40px;
  width: 70px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
}

.profile-button:hover {
  box-shadow: 0 8px 19px -6px rgba(0, 0, 0, 0.262);
}

.profile-button .menu-icon {
  color: gray;
}

.profile-button svg {
  fill: gray;
  height: 30px;
  width: 30px;
}

.profile-dropdown {
  box-sizing: border-box;
  width: 230px;
  position: absolute;
  top: 7%;
  right: 5%;
  border-radius: 10px;
  z-index: 1;
  background-color: white;
  box-shadow: 0 8px 19px -6px rgba(0, 0, 0, 0.262);
}

.profile-dropdown li {
  font-size: .9rem;
  color: black;
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 2px 15px;
  background-color: transparent;
  margin-bottom: 2px;
}

.profile-dropdown li:hover {
  background-color: rgba(211, 211, 211, 0.126);
  border-radius: 10px;
}