.nav {
  display: flex;
  align-items: center;
  padding: .3% 5%;
  height: 7vh;
  justify-content: space-between;
  box-sizing: border-box;
}

.logo {
  color: #ff385c;
  font-size: 2.5rem;
}

.nav button {
  padding: none;
}

/* .nav hr {
  width: 100%;
  border: .5px solid lightgrey;
} */

.profile-button {
  background-color: white;
  position: relative;
  height: 40px;
  width: 70px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
}

.profile-button svg {
  fill: gray;
  height: 30px;
  width: 30px;
}

.profile-dropdown {
  width: 200px;
  position: absolute;
  top: 6%;
  right: 5%;
  border-radius: 10px;
  z-index: 1;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-dropdown button {
  background-color: transparent;
  color: black;
}
