.bench-form-page {
  background-color: palevioletred;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bench-form-page form {
  padding: 5%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.bench-form-page label {
  width: 100px;
  margin-bottom: 5px;
}